@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import 'dist/header.scss';
@import 'dist/media.scss';
@import 'dist/animation';
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
 height: 100vh;
  font-family: 'montserrat','san-serif';
  display: grid;
grid-template-rows: 25% 5% 25% 1fr;

}
.sliders{
  width: 100%;
  height: 500px;
  border: 1px solid black;
}
.mainSection{
width: 100%;
height: 100vh;
display: grid;
grid-template-columns: 70% 30%;
 
aside{
   
  border: 1px solid black;
  }
  main{
 border: 1px solid black;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
justify-content: space-evenly;

  }
}
.clearFix{
  clear: both;
}

