

*{
    box-sizing: border-box;
}
body{
    display: grid;
}

.logo{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav{
 ul{
        list-style: none;
    }
    ul li{
        list-style: none;
    }
}